
/_ReSharper.Karma
/src/Karma.Core/bin/Debug/Karma.Core.dll
/src/Karma.Core/bin/Debug/Karma.Core.dll.CodeAnalysisLog.xml
/src/Karma.Core/bin/Debug/Karma.Core.dll.lastcodeanalysissucceeded
/src/Karma.Core/bin/Debug/Karma.Core.pdb
/src/Karma.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Karma.Core/obj/Debug/Karma.Core.csproj.FileListAbsolute.txt
/src/Karma.Core/obj/Debug/Karma.Core.dll
/src/Karma.Core/obj/Debug/Karma.Core.pdb
/test/Karma.Core.AssemblyAnalyzerSample/bin/Debug/Karma.Core.AssemblyAnalyzerSample.dll
/test/Karma.Core.AssemblyAnalyzerSample/bin/Debug/Karma.Core.AssemblyAnalyzerSample.pdb
/test/Karma.Core.AssemblyAnalyzerSample/bin/Debug/Karma.Core.dll
/test/Karma.Core.AssemblyAnalyzerSample/bin/Debug/Karma.Core.pdb
/test/Karma.Core.AssemblyAnalyzerSample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/test/Karma.Core.AssemblyAnalyzerSample/obj/Debug/Karma.Core.AssemblyAnalyzerSample.csproj.FileListAbsolute.txt
/test/Karma.Core.AssemblyAnalyzerSample/obj/Debug/Karma.Core.AssemblyAnalyzerSample.dll
/test/Karma.Core.AssemblyAnalyzerSample/obj/Debug/Karma.Core.AssemblyAnalyzerSample.pdb
/test/Karma.Core.AssemblyAnalyzerSample/obj/Debug/ResolveAssemblyReference.cache
/test/Karma.Core.ClassAnalyzerSample/bin/Debug/Karma.Core.ClassAnalyzerSample.dll
/test/Karma.Core.ClassAnalyzerSample/bin/Debug/Karma.Core.ClassAnalyzerSample.pdb
/test/Karma.Core.ClassAnalyzerSample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/test/Karma.Core.ClassAnalyzerSample/obj/Debug/Karma.Core.ClassAnalyzerSample.csproj.FileListAbsolute.txt
/test/Karma.Core.ClassAnalyzerSample/obj/Debug/Karma.Core.ClassAnalyzerSample.dll
/test/Karma.Core.ClassAnalyzerSample/obj/Debug/Karma.Core.ClassAnalyzerSample.pdb
/test/Karma.Core.Test/bin/Debug/Karma.Core.AssemblyAnalyzerSample.dll
/test/Karma.Core.Test/bin/Debug/Karma.Core.AssemblyAnalyzerSample.pdb
/test/Karma.Core.Test/bin/Debug/Karma.Core.ClassAnalyzerSample.dll
/test/Karma.Core.Test/bin/Debug/Karma.Core.ClassAnalyzerSample.pdb
/test/Karma.Core.Test/bin/Debug/Karma.Core.Test.dll
/test/Karma.Core.Test/bin/Debug/Karma.Core.Test.dll.CodeAnalysisLog.xml
/test/Karma.Core.Test/bin/Debug/Karma.Core.Test.dll.lastcodeanalysissucceeded
/test/Karma.Core.Test/bin/Debug/Karma.Core.Test.pdb
/test/Karma.Core.Test/bin/Debug/Karma.Core.dll
/test/Karma.Core.Test/bin/Debug/Karma.Core.pdb
/test/Karma.Core.Test/bin/Debug/Rhino.Mocks.dll
/test/Karma.Core.Test/bin/Debug/nunit.framework.dll
/test/Karma.Core.Test/bin/Debug/nunit.framework.xml
/test/Karma.Core.Test/bin/Debug/nunit.mocks.dll
/test/Karma.Core.Test/bin/Debug/pnunit.framework.dll
/test/Karma.Core.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/test/Karma.Core.Test/obj/Debug/Karma.Core.Test.csproj.FileListAbsolute.txt
/test/Karma.Core.Test/obj/Debug/Karma.Core.Test.dll
/test/Karma.Core.Test/obj/Debug/Karma.Core.Test.pdb
/test/Karma.Core.Test/obj/Debug/ResolveAssemblyReference.cache
/Karma.1.1.dotCover
/Karma.6.0.ReSharper.user
/Karma.sln.docstates.suo
/Karma.suo